<!DOCTYPE html>
<html>
    <!--head-->
    <%-partial('./partials/head')%>
    <!--head-->
<body>
<!--header-->
<%-partial('./partials/header')%>
<!--header-->
<div id="content">
    <div class="wrapper">
        <h1>Welcome, <%= username%>!</h1>
        <div class="profile-block">
            <form id="change-password" method="post" action="/account/user/<%= username %>">
                <input name="oldPassword" placeholder="enter current password" type="password"/>
                <input name="password" placeholder="enter new password" type="password"/>
                <button type="submit">Change password</button>
            </form>
            <form id="findUser" action="/account/findUser" method="post">
                <div class="find-user">
                    <input name="username" placeholder="find by username" type="text"/>
                    <button type="submit"></button>
                </div>
            </form>
            <span>You board:</span>
            <button class="add-button">Add</button>
        </div>
        <ul class="main-item-list">
            <%if (items.length == 0) { %>
            <div id="undefined">not found</div>
            <% } else{ %>
            <% items.forEach(function(item) { %>
            <li>
                <a href="/<%= item._id %>" data-id="<%= item._id %>">
                    <div class="item-image">
                        <img src="<%= item.images %>">
                    </div>
                    <div class="item-name">
                        <span><%= item.title %></span>
                    </div>
                    <div class="item-price">
                        <span class="item-price-from">from</span>
                        <span class="item-price-match"><%= item.price %>$</span>
                    </div>
                    <div class="item-description">
                        <p><%= item.description %></p>
                    </div>
                </a>
            </li>
            <% }); %>
            <% } %>
        </ul>
        <div class="change-menu">
            <form id="add-item" action="">
                <label for="item-name">Name:</label>
                <input id="item-name" type="text"/>
                <label for="item-price">Price:</label>
                <input id="item-price" type="text"/>
                <label for="item-description">Description:</label>
                <textarea id="item-description"></textarea>
                <label for="item-image">Image href:</label>
                <input id="item-image" type="text"/>
                <button id="add" type="submit">Add</button>
            </form>
        </div>
    </div>
</div>
<!--footer-->
<%-partial('./partials/footer')%>
<!--footer-->
</body>
</html>