<!DOCTYPE html>
<html>
<!--head-->
<%-partial('./partials/head')%>
<!--head-->
<body>
<!--header-->
<%-partial('./partials/header')%>
<!--header-->
<div id="content">
    <div class="wrapper">
        <h1><%= searchUser %></h1>
        <div class="profile-block">
            <form id="findUser" action="" method="post">
                <div class="find-user">
                    <input name="username" placeholder="find by username" type="text"/>
                    <button type="submit"></button>
                </div>
            </form>
            <span>Him board:</span>
        </div>
        <ul class="main-item-list">
            <%if (items.length == 0) { %>
            <div id="undefined">not found</div>
            <% } else{ %>
            <% items.forEach(function(item) { %>
            <li>
                <a href="/<%= item._id %>" data-id="<%= item._id %>">
                    <div class="item-image">
                        <img src="<%= item.images %>">
                    </div>
                    <div class="item-name">
                        <span><%= item.title %></span>
                    </div>
                    <div class="item-price">
                        <span class="item-price-from">from</span>
                        <span class="item-price-match"><%= item.price %>$</span>
                    </div>
                    <div class="item-description">
                        <p><%= item.description %></p>
                    </div>
                </a>
            </li>
            <% }); %>
            <% } %>
        </ul>
    </div>
</div>
<!--footer-->
<%-partial('./partials/footer')%>
<!--footer-->
</body>
</html>