/********CSS RESET**********/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
@import url(http://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700&subset=latin,cyrillic-ext);
body {
    line-height: 1.2;
    font-family: 'PT Sans Narrow', sans-serif, Arial, Tahoma;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizelegibility;
}
textarea {
    line-height: 1.2;
    font-family: 'PT Sans Narrow', sans-serif, Arial, Tahoma;
}
blockquote, q {
    quotes: none;
}
ol, ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
.clear {
    clear: both;
}
.wrapper {
    width: 1000px;
    margin: 0 auto;
}
#content {
    margin: 0 auto;
    margin-top: 14px;
    padding: 0 0 30px 0;
    width: 1000px;
}
#content:after {
    content: '';
    display: block;
    clear: both;
}
a {
    font-size: 15px;
    color: #000;
    text-decoration: none;
}
b {
    font-weight: 600;
}
strong {
    font-weight: 600;
}
p {
    font-size: 15px;
    color: #000;
}
select,
input {
    -moz-border-radius: 0px;
    border-radius: 0px;
    -webkit-border-radius: 0px;
}
input.warning,
    textarea.warning {
    border: 1px solid #ff0022!important;
}
.error {
    color: #ff0022;
}
h1 {font-size: 48px;}
h2 {font-size: 48px;}
* {
    transition: .2s all ease-in-out;
    font-family: 'PT Sans Narrow', sans-serif, Arial, Tahoma;
}
button {
    background-color: #bd3146;
    color: #fff;
    width: 220px;
    height: 40px;
    border-radius: 4px;
    font-size: 30px;
    display: block;
    font-style: normal;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    overflow: hidden;
    outline: none;
    border: none;
    cursor: pointer;
}
/********CSS RESET**********/
/********HEADER*************/
#header {
    background: #303030;
    height: 80px;
}
#header:after {
    content: '';
    display: block;
    clear: both;
}
#header .to-catalog {
    color: #fff;
    font-size: 20px;
    margin: 20px 0 0 0;
    float: left;
}
#header .login-btn,
#header .reg-btn,
#header .logout-btn {
    background-color: #80bd01;
    width: 220px;
    height: 40px;
    border-radius: 4px;
    font-size: 30px;
    display: block;
    margin: 20px 0 0 0;
    float: right;
    font-style: normal;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    overflow: hidden;
}
#header .login-btn:hover {
    background-color: #73a53e;
}
#header .reg-btn {
    background-color: #7f15bd;
    margin-right: 20px;
}
#header .reg-btn:hover {
    background-color: #a417ec;
}
#header .login-popup,
#header .reg-popup {
    display: none;
    width: 300px;
    background: #fff;
    border-radius: 4px;
    position: fixed;
    top: 20%;
    left: 40%;
    z-index: 200;
    padding: 20px 30px;box-sizing: border-box;
}
#header .login-popup input,
#header .reg-popup input {
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    padding: 0 10px;
    height: 32px;
    font-size: 18px;
    width: 100%;
    outline: none;
    margin: 0 0 20px 0;
}
#header .login-popup button,
#header .reg-popup button {
    margin: 20px auto;
}
.popup-overlay {
    width: 100%;
    height: 100%;
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .5);
}
.text-popup {
    width: 600px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    background: #fff;
    position: fixed;
    left: 35%;
    top: 40%;
    text-align: center;
    z-index: 200;
    font-size: 40px;
}
.login-block {
    width: 300px;
    float: right;
}
.login-block:after {
    content: '';
    display: block;
    clear: both;
}
.login-block .user-link {
    font-size: 20px;
    max-width: 80px;
    overflow: hidden;
    margin: 25px 0;
    float: left;
    color: #fff;
    text-decoration: underline;
}
.login-block .user-link:hover {
    text-decoration: none;
}
/********HEADER*************/
/********FOOTER*************/
#footer {
    background: #303030;
    height: 50px;
    color: #ccc;
}
/********FOOTER*************/
/********CONTENT************/
#content {
    min-height: 797px;
}
#content .main-item-list {
    display: block;
}
#content .main-item-list:after {
    content: '';
    display: block;
    clear: both;
}
#content .main-item-list li {
    height: 400px;
    width: 320px;
    display: block;
    float: left;

    margin: 0 20px 20px 0;
    box-sizing: border-box;
}
#content .main-item-list li > a {
    padding: 10px;
    display: block;
    height: 400px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
}
#content .main-item-list li > a:hover {
    box-shadow: 2px 2px 40px -15px #000;
}
#content .main-item-list li:nth-child(3n) {
    margin: 0 0 20px 0;
}
#content .main-item-list li .item-image {
    display: block;
    height: 200px;
    width: 200px;
    margin: 10px auto;
}
#content .main-item-list li .item-image img {
    height: 100%;
    display: block;
    margin: 0 auto;
}
#content .main-item-list li .item-name span {
    font-weight: 700;
    text-align: center;
    width: 100%;
    display: block;
    font-size: 20px;
}
#content .main-item-list li .item-price {
    text-align: center;
}
#content .main-item-list li .item-price .item-price-from {
    font-size: 18px;
}
#content .main-item-list li .item-price .item-price-match {
    font-size: 30px;
}
#content .main-item-list li .item-description {
    height: 90px;
    width: 100%;
    overflow: hidden;
}
#content .full-item:after {
    content: '';
    display: block;
    clear: both;
}
#content .full-item .full-item-image img {
    display: block;
    height: 300px;
    float: left;
    margin: 20px 20px 20px 0;
}
#content .full-item .full-item-price {
    padding: 30px 0;
}
#content .full-item .full-item-price .item-price-label {
    font-size: 20px;
}
#content .full-item .full-item-price .item-price-match {
    font-size: 30px;
    font-weight: bold;
}
#content .full-item .full-item-description p {
    font-size: 18px;
}
/********change menu********/
.change-menu {
    width: 600px;
    padding: 10px 10px 20px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    background: #f0f0f0;
    display: none;
    position: fixed;
    left: 35%;
    top: 20%;
    z-index: 200;
}
.change-menu input[type="text"]{
    width: 100%;
    display: block;
    outline: none;
    padding: 0 10px;
    height: 30px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
}
.change-menu input[type="text"]:focus {
    border: 1px solid #5c5c5c;
}
.change-menu textarea:focus {
    border: 1px solid #5c5c5c;
}
.change-menu textarea {
    resize: none;
    padding: 5px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    outline: none;
    display: block;
    height: 200px;
    width: 100%;
    font-size: 16px;
}
.change-menu label {
    font-size: 18px;
    display: block;
    margin: 10px 0 0 2px;
}
.change-menu button {
    background-color: #bd3146;
    color: #fff;
    width: 220px;
    height: 40px;
    border-radius: 4px;
    font-size: 30px;
    display: block;
    margin: 20px auto 0 auto;
    font-style: normal;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    overflow: hidden;
    outline: none;
    border: none;
    cursor: pointer;
}
.change-menu button:hover {
    background-color: #de394e;
}
.change-button {
    background-color: #bd3146;
    margin: 20px;
}
.change-button:hover {
    background-color: #de394e;
}
.delete-button {
    background-color: #bdad2f;
    margin: 20px;
}
.delete-button:hover {
    background-color: #dfcf32;
}
.add-button {
    background-color: #1371bd;
    margin: 20px 0;
    float: left;
}
.add-button:hover {
    background-color: #1597f3;
}
/********change menu********/
select {
    opacity: 0;
    filter: alpha(opacity=0);
    cursor: pointer;
    border: none;
    width: 100%;
    height: 100%;
    font-size: 18px;
    font-family: 'PT Sans Narrow', sans-serif, Arial, Tahoma;
}
.select-wrp {
    border: 1px solid #00cb87;
    width: 300px;
    height: 32px;
    position: relative;
    background: #fff url(../images/select-bg.png) no-repeat right;
    box-sizing: border-box;
    border-radius: 4px;
}
.select-wrp > span {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 4px;
    top: 0px;
    color: #0a0a0a;
    font-size: 18px;
    line-height: 30px;
    overflow: hidden;
}
.main-top-block:after {
    content: '';
    display: block;
    clear: both;
}
.main-top-block .select-wrp {
    margin: 20px 0;
}
.main-top-block #sort {
    float: right;
    width: 660px;
}
.main-top-block #sort .select-wrp {
    float: right;
}
.main-top-block #sort .search {
    float: left;
    width: 335px;
}
.main-top-block #sort .search input,
.find-user input {
    border-radius: 4px;
    border: 1px solid #ccc;
    height: 32px;
    width: 300px;
    box-sizing: border-box;
    margin: 20px 0;
    outline: none;
    padding: 0 10px;
    font-size: 16px;
    float: left;
}
.main-top-block #sort .search input:focus,
.find-user input:focus {
    border: 1px solid #959595;
}
.main-top-block #sort .search button,
.find-user button {
    width: 32px;
    height: 32px;
    background: #ccc url(../images/search-ico.png) no-repeat center center;
    margin: 20px 0;
    float: right;
}
.main-top-block #sort .search button:hover,
.find-user button:hover {
    background: #959595 url(../images/search-ico.png) no-repeat center center;
}
#undefined {
    font-size: 60px;
    margin: 100px auto;
    text-align: center;
}
/********CONTENT************/
/********PAGINATION*********/
.pagination {
    display: block;
    width: 200px;
    margin: 0 auto;
}
.pagination:after {
    content: '';
    display: block;
    clear: both;
}
.pagination li {
    float: left;
    margin: 0 10px;
}
.pagination li a {
    font-size: 20px;
}
.pagination li.prev a,
.pagination li.next a {
    font-size: 20px;
    background: #0ecc6b;
    border-radius: 4px;
    padding: 2px 5px;
}
.pagination li.prev a:hover,
.pagination li.next a:hover {
    background: #0ee67e;
}
.pagination li.prev-noactive a,
.pagination li.next-noactive a {
    cursor: default;
    background: #ccc;
    border-radius: 4px;
    padding: 2px 5px;
}
.pagination li.current {
    font-size: 22px;
}
/********PAGINATION*********/
/********ACCOUNT************/
.profile-block:after {
    content: '';
    display: block;
    clear: both;
}
#change-password {
    width: 220px;
    float: left;
}
#change-password input {
    width: 100%;
    display: block;
    outline: none;
    padding: 0 10px;
    height: 30px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    margin-bottom: 10px;
}
#change-password input[type="text"]:focus {
    border: 1px solid #5c5c5c;
}
#change-password button {
    font-size: 28px;
}
.profile-block > span {
    font-size: 40px;
    text-align: center;
    width: 100%;
    display: block;
    margin: 20px 0;
    clear: left;
}
.profile-block .add-button {
    clear: left;
}
#findUser {
    width: 335px;
    float: right;
}
/********ACCOUNT************/