<header id="header">
    <div class="wrapper">
        <a class="to-catalog" href="/">to Catalog</a>
        <% if (username.length > 0) { %>
            <div class="login-block">
                <a class="user-link" href="/account/user/<%= username %>"><%= username %></a>
                <a class="logout-btn" href="#">logout</a>
            </div>
        <% } else { %>
            <a class="login-btn" href="#">login</a>
            <a class="reg-btn" href="#">registration</a>
        <% } %>
    </div>
    <div class="login-popup">
        <form action="/account/login/" method="post" id="login-form" name="login-form">
            <span class="error"></span>
            <input name="username" placeholder="Enter a login" type="text"/>
            <input name="password" placeholder="Enter a password" type="password"/>
            <button type="submit">Login</button>
        </form>
    </div>
    <div class="reg-popup">
        <form action="/account/register/" method="post" id="reg-form" name="login-form">
            <span class="error"></span>
            <input name="username" placeholder="Enter a login" type="text"/>
            <input name="password" placeholder="Enter a password" type="password"/>
            <button type="submit">registration</button>
        </form>
    </div>
    <div class="login-popup">
        <form action="/account/login/" method="post" id="login-form" name="login-form">
            <span class="error"></span>
            <input name="username" placeholder="Enter a login" type="text"/>
            <input name="password" placeholder="Enter a password" type="password"/>
            <button type="submit">Login</button>
        </form>
    </div>
</header>