<!DOCTYPE html>
<html>
    <!--head-->
    <%-partial('../partials/head')%>
    <!--head-->
<body>
<!--header-->
<%-partial('../partials/header')%>
<!--header-->
<div id="content">
    <div class="wrapper">
        <h1><%= title %></h1>
        <div class="full-item" data-id="<%= _id %>">
            <div class="full-item-image">
                <img src="<%= images %>">
            </div>
            <div class="full-item-price">
                <span class="item-price-label">Price:</span>
                <span class="item-price-match"><%= price %>$</span>
            </div>
            <div class="full-item-description">
                <p><%= description %></p>
            </div>
            <% if(ownerId == userId) {%>
                <button class="change-button">Change</button>
                <button class="delete-button">Delete</button>
            <% } %>
        </div>
        <div class="change-menu">
            <form action="">
                <label for="item-name">Name:</label>
                <input id="item-name" type="text" value="<%= title %>"/>
                <label for="item-price">Price:</label>
                <input id="item-price" type="text" value="<%= price %>"/>
                <label for="item-description">Description:</label>
                <textarea id="item-description"><%= description %></textarea>
                <label for="item-image">Image href:</label>
                <input id="item-image" type="text" value="<%= images %>" />
                <button id="change" type="submit">Save</button>
            </form>
        </div>
    </div>
</div>
<!--footer-->
<%-partial('../partials/footer')%>
<!--footer-->
</body>
</html>