<!DOCTYPE html>
<html>
    <!--head-->
    <%-partial('../partials/head')%>
    <!--head-->
<body>
<!--header-->
    <%-partial('../partials/header')%>
<!--header-->
<div id="content">
    <div class="wrapper">
        <h1><%=blocks.heading%></h1>
        <p>Welcome to <%=blocks.text%></p>
        <div class="main-top-block">
            <% if(username.length > 0) {%>
                <button class="add-button">Add</button>
            <% } %>
            <form id="sort" action="/filter">
                <div class="select-wrp">
                    <span></span>
                    <select name="sort">
                        <option value="1">lowest price</option>
                        <option value="-1">highest price</option>
                    </select>
                </div>
                <div class="search">
                    <input name="title" type="text"/>
                    <button type="submit"></button>
                </div>
            </form>
        </div>
        <% if(username.length > 0) {%>
            <div class="change-menu">
                <form id="add-item" action="">
                    <label for="item-name">Name:</label>
                    <input id="item-name" type="text"/>
                    <label for="item-price">Price:</label>
                    <input id="item-price" type="text"/>
                    <label for="item-description">Description:</label>
                    <textarea id="item-description"></textarea>
                    <label for="item-image">Image href:</label>
                    <input id="item-image" type="text"/>
                    <button id="add" type="submit">Add</button>
                </form>
            </div>
        <% } %>
        <script id="items-template" type = "text/template">
            <li>
                <a href="/{{ item._id }}" data-id="{{ item._id }}">
                    <div class="item-image">
                        <img src="{{item.images }}">
                    </div>
                    <div class="item-name">
                        <span>{{ item.title }}</span>
                    </div>
                    <div class="item-price">
                        <span class="item-price-from">from</span>
                        <span class="item-price-match">{{ item.price }}$</span>
                    </div>
                    <div class="item-description">
                        <p>{{ item.description }}</p>
                    </div>
                </a>
            </li>
        </script>
        <ul class="main-item-list">
            <%if (items.length == 0) { %>
                <div id="undefined">not found</div>
            <% } else{ %>
                <% items.forEach(function(item) { %>
                <li>
                    <a href="/<%= item._id %>" data-id="<%= item._id %>">
                        <div class="item-image">
                            <img src="<%= item.images %>">
                        </div>
                        <div class="item-name">
                            <span><%= item.title %></span>
                        </div>
                        <div class="item-price">
                            <span class="item-price-from">from</span>
                            <span class="item-price-match"><%= item.price %>$</span>
                        </div>
                        <div class="item-description">
                            <p><%= item.description %></p>
                        </div>
                    </a>
                </li>
                <% }); %>
            <% } %>
        </ul>
        <%if ( count > 6 ) { %>
            <ul class="pagination">
                <%if (page > 1) { %>
                    <li class="prev"><a href="<%= url %>page=<%= page -1 %>">prev</a></li>
                <% } else { %>
                    <li class="prev-noactive"><a>prev</a></li>
                <% } %>
                <li class="current"><%= page %> of <%= Math.ceil(count/6) %></li>
                <%if (isNext) { %>
                    <li class="next"><a href="<%= url %>page=<%= page +1 %>">next</a></li>
                <% } else { %>
                    <li class="next-noactive"><a>next</a></li>
                <% } %>
            </ul>
        <% } %>
    </div>
</div>
<!--footer-->
    <%-partial('../partials/footer')%>
<!--footer-->
</body>
</html>